.nav-wrapper {
  /* background-color: #6f6f6f; */
  background-color: #006064;
}

/* color of slides points */
.slider .indicators .indicator-item.active {
  background-color: #006064;
}

.move {
  margin-top: 60px;
  margin-bottom: 20px;
}

.parallax-container {
  min-height: 280px;
  height: auto;
}

.icon-coffee {
  color: #006064;
}

.footer-one {
  background: #006064;
}

.footer-two {
  background: #462822;
}
#myImg {
}
